openapi: 3.0.1

info:
  title: URL Shortener API
  description: |
    API for shortening URLs and redirecting to the original URL. This API allows clients to shorten long URLs and retrieve the original URL using the shortened version.
  version: 1.0.0
  contact:
    name: "Shorty Support"
    email: "zufar.sunagatov@gmail.com"

servers:
  - url: "https://short-link.zufargroup.com"
    description: "Production server"

paths:
  /api/shorten:
    post:
      summary: Shorten a URL
      description: |
        This endpoint shortens a given URL and returns the shortened URL. 
        The original URL must be a valid URL, and it will be processed and returned as a shortened version.
      operationId: shortenUrl
      tags:
        - URL Shortening
      requestBody:
        description: The original URL to be shortened, provided in the request body.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlRequest'
      responses:
        '200':
          description: |
            URL shortened successfully. The response contains the shortened URL that can be used to retrieve the original.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlResponse'
        '400':
          description: Invalid request. The input URL is either missing or not a valid URL.
        '500':
          description: Server error occurred while shortening the URL.

  /{shortUrl}:
    get:
      summary: Redirect to the original URL
      description: |
        Redirects the user to the original URL based on the shortened URL identifier.
        The shortened URL identifier is passed as a path parameter. If the identifier is valid, the response will redirect (HTTP 302) the client to the original URL.
      operationId: redirectToOriginalUrl
      tags:
        - URL Redirection
      parameters:
        - in: path
          name: shortUrl
          required: true
          description: The shortened URL identifier that will be used to retrieve the original URL.
          schema:
            type: string
            example: abc123
      responses:
        '302':
          description: |
            Redirects the client to the original URL. The "Location" header contains the original URL to redirect to.
          headers:
            Location:
              description: The original URL to redirect the user to.
              schema:
                type: string
        '404':
          description: The shortened URL identifier was not found.

components:
  schemas:
    UrlRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
          example: "https://iced-latte.uk"
          description: The original URL to be shortened. It must be a valid URL with an HTTP or HTTPS scheme.
      required:
        - url
      additionalProperties: false
      # Validation example: URI must follow general URI syntax and scheme should be either http or https
      description: "Request payload containing a valid URL to be shortened. The URL must be a valid HTTP/HTTPS URL."

    UrlResponse:
      type: object
      description: The response object containing the shortened URL.
      properties:
        shortenedUrl:
          type: string
          example: "https://short-link.zufargroup.com/abc123"
          description: The shortened URL generated by the service, which can be used to redirect to the original resource.
      required:
        - shortenedUrl
